*{
    margin: 0;
    padding: 0;
    
}

.main{
    width: 100%;
    background:linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url('bc.jpg');
    background-position: center;
    background-size: cover;
    height:100vh;

}

.navbar{
    width:1200px;
    height:75px;
    margin: auto;

}

.icon{
    width:200px;
    float:left;
    height: 70px;
   
}

.logo{
    color:orange;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float:left;
    padding-top: 10px;
}

.menu{
    width:400px;
    float:left;
    height:70px;
}

ul{
    float:left;
    display:flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
}
ul li a:hover{
    color: orange;
}

.search{
    width:330px;
    float: left;
    margin-left: 270px;

}

.src{
    font-family: 'times new roman';
    width: 200px;
    height:40px;
    background:transparent;
    border: 1px solid orange;
    margin-top: 13px;
    color: white;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: orange;
    border: 2px solid orange;
    margin-top: 13px;
    color:white;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.btn:focus{
    outline: none;
}

.src:focus{
    outline: none;
}

.content{
    width: 1200px;
    height:auto;
    margin: auto;
    color:white;
    position: relative;
}

.content .para{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    width:800px;
    justify-content: left;
}

.content h1{
    font-family: 'times new roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: orange;
    border:none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.content .cn a{
    text-decoration: none;
    color:black;
    
}

.cn:hover{
    background-color: white;

}

.content span{
    color:orange;
    font-size: 60px;
}

.form{
    width:250px;
    height:380px;
    position: absolute;
    background:linear-gradient(to top, rgba(0, 0, 0,0.8), rgba(0, 0, 0,0.8));
    top:-20px;
    left:870px;
    border-radius: 10px;
    padding: 20px;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color:orange;
    font-size: 22px;
    background-color: white;
    border-radius: 10px;
    margin:2px;
    padding:8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1p solid orange;
    border-top: none;
    border-right: none;
    border-left: none;
    color:white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif; 
}

.form input:focus{
    outline: none;
}

.btnn{
    width: 240px;
    height: 35px;
    background: orange;
    border: none;
    color: white;
    margin-top:30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

.btnn:hover{
    background-color: white;
    color: orange;
}

.btnn a{
    text-decoration: none;
    color:black;
    font-weight: bold;
}

.form .link{
    font-family: Arial;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form .link a{
    text-decoration: none;
    color: orange;
}

.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

.icon img{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    padding-left: 7px;
    padding-top: 5px;
}

.rs{
    border: 2px solid black;
    width: 1400px;
    height:600px;
    justify-content:center;
    align-items: center;
    display: flex;
    border-radius: 10px;
    background-color: rgb(5, 112, 78);
    }

    .bk{
    width: 50px;
    height: 40px;
    background: rgb(196, 196, 7);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 20%;
    text-decoration: none;
    }

.bk a{
    text-decoration: none;
    color:red;
}

 .one{
    font-family: Arial;
    font-size: 20px;
    color: white;
    padding-bottom: 10px;
    text-align: left;
    
}

ol{
    list-style-position: inside; 
    padding-left: 10%;
    margin-left: 10px; 
    text-align: left;
}

.his{
    word-spacing: 3px;
    float: left;
    margin-left: auto;
    padding-left: 10px;
    ;
}